/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 *
 */

body {
    background-image: url(/assets/background-9e82e599bfdf4516bcb4532296d13239b6ec3c73c1e75c76008d2b97985639d1.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.simple-calendar {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid gray;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;

}
.day {}
  
.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {}
.past {}
.future {}

.start-date {}

.prev-month {}
.next-month {
    font-size: 30;
}
.current-month {}

.has-events {}
