<% content_for :title, "Editing calendar" %>

<h1 class = "row justify-content-center text-primary">currently editing event.....</h1>

<%= render "form", calendar: @calendar %>

<br>

<div>
  <%= link_to "Show this event", @calendar, class: "btn btn-info" %> |
  <%= link_to "Back to events list", calendars_path, class: 'btn btn-secondary'%>
</div>
